.footer {
    padding: 20px 40px 15px 40px;
    background-color: #A6DCEF;

    .detail_wrap {
        display: grid;
        grid-template-columns: 1fr 0.8fr;

        .detail_container {

            .cityhall_name {
                margin-left: 15px;
                font-weight: bold;
                font-size: 1.1rem;
            }

            .cityhall_details {
                padding-left: 30px;
            }

            .detail_list {
                list-style: none;
                margin-bottom: 10px;

                .detail_btn {
                    padding: 5px 15px;
                    font-size: 0.9rem;
                    background-color: var(--color-bg-1);
                    border-radius: 7px;
                    transition: all 0.5s;
                }

                .detail_btn:hover {
                    background-color: var(--color-bg-2);
                }
            }
        }
    }

    .copyright {
        margin-top: 20px;
        font-size: 0.8rem;
        text-align: center;
    }
}