.footer {
    padding: 20px 20px 15px 40px;
    background-color: var(--color-bg-2-dark);

    @media (max-width: 600px) {
        text-align: center;
        padding: 20px 10px 15px 10px;
    }

    .detail_wrap {
        display: grid;
        grid-template-columns: 1fr 0.7fr;

        @media (max-width: 600px) {
            grid-template-columns: 1fr;

            .detail_container {
                padding: 20px 0 0 0;
                text-align: center;
            }
        }

        .detail_container {

            .cityhall_name {
                margin-left: 15px;
                font-weight: bold;
                font-size: 1.1rem;
                color: var(--color-font-3);
            }

            .cityhall_details {
                padding-left: 20px;

                p {
                    color: var(--color-font-3);
                }
            }

            .detail_list {
                list-style: none;
                margin-bottom: 10px;

                .detail_btn {
                    color: var(--color-font-1);
                    padding: 5px 15px;
                    font-size: 0.9rem;
                    background-color: var(--color-bg-1);
                    border-radius: 7px;
                    transition: all 0.5s;
                }

                .detail_btn:hover {
                    background-color: var(--color-bg-2);
                }
            }
        }
    }

    .copyright {
        margin-top: 20px;
        font-size: 0.8rem;
        color: var(--color-font-3);
        text-align: center;
    }
}