:root {
  font-size: 16px;

  --color-font-1: #000000;
  --color-font-2: #ffffff;
  --color-font-3: #000000;
  --color-primary: #6886C5;
  --color-secound: #E36387;
  --color-secound-thin: #F2AAAA;
  --color-accent-1: #FFACB7;
  --color-accent-2: #FFE0AC;
  --color-bg-1: #F9F9F9;
  --color-bg-2: #DDF3F5;
  --color-bg-2-dark: #A6DCEF;

  img.reverse {
    filter: none;
  }
}

:root[data-theme=dark] {
  --color-font-1: #ffffff;
  --color-font-2: #000000;
  --color-font-3: #000000;
  --color-primary: #6886C5;
  --color-secound: #E36387;
  --color-secound-thin: #F2AAAA;
  --color-accent-1: #ffffff;
  --color-accent-2: #ffffff;
  --color-bg-1: #060606;
  --color-bg-2: #DDF3F5;
  --color-bg-2-dark: #A6DCEF;

  img.reverse {
    filter: invert(1) hue-rotate(180deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-bg-1);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

p,
a {
  color: var(--color-font-1);
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}