.swiper {
  width: 80%;
}

.life_serch {
  padding: 20px;
  margin-top: 30px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: 500px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 700px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .life_box {
    width: 120px;
    height: 120px;
    margin: 20px auto;
    text-align: center;
    background-color: var(--color-bg-1);
    border: 5px solid var(--color-bg-2-dark);
    border-radius: 15px;
    transition: all 0.5s;
    text-align: center;
    position: relative;

    .life_icon {
      margin-top: 10px;
      font-size: 50px;
      color: var(--color-primary);
    }

    span {
      width: 100%;
      color: var(--color-font-1);
      font-size: 0.9rem;
      position: absolute;
      bottom: 10px;
      left: 0;
    }
  }

  .life_box:hover {
    border: 5px solid var(--color-primary);
  }
}