.swiper {
  width: 80%;
}

.life_serch {
  padding: 20px;
  margin-top: 30px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: 500px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 700px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .life_box {
    width: 120px;
    height: 120px;
    margin: 20px auto;
    text-align: center;
    background-color: var(--color-bg-1);
    border: 5px solid var(--color-bg-2-dark);
    border-radius: 15px;
    transition: all 0.5s;

    span {
      color: var(--color-font-1);
    }
  }

  .life_box:hover {
    border: 5px solid var(--color-primary);
  }
}